<h1 id="términos-y-condiciones">TÉRMINOS Y CONDICIONES</h1>
<h2 id="información-general">INFORMACIÓN GENERAL</h2>
<p>
  Este sitio web es operado por Grandmercado LLC. En todo el sitio, los términos
  “nosotros”, “nos” y “nuestro” se refieren a Grandmercado LLC. Grandmercado LLC
  ofrece este sitio web, incluyendo toda la información, herramientas y
  servicios disponibles para ti en este sitio, el usuario, está condicionado a
  la aceptación de todos los términos, condiciones, políticas y notificaciones
  aquí establecidos. Al visitar nuestro sitio y/o comprar algo de nosotros,
  participas en nuestro “Servicio” y aceptas los siguientes términos y
  condiciones (“Términos de Servicio”, “Términos”), incluidos todos los términos
  y condiciones adicionales y las políticas a las que se hace referencia en el
  presente documento. Estas Condiciones de Servicio se aplican a todos los
  usuarios del sitio, incluyendo sin limitación a usuarios que sean navegadores,
  proveedores, clientes, comerciantes, y/o colaboradores de contenido. Por
  favor, lea estos Términos de Servicio cuidadosamente antes de acceder o
  utilizar nuestro sitio web. Al acceder o utilizar cualquier parte del sitio,
  el cliente está aceptando los Términos de Servicio. Si el cliente no está de
  acuerdo con todos los términos y condiciones de este acuerdo, entonces no
  debería acceder a la página web o usar cualquiera de los servicios. Si los
  Términos de Servicio son considerados una oferta, la aceptación está
  expresamente limitada a estos Términos de Servicio. Cualquier función nueva o
  herramienta que se añadan a la tienda actual, también estarán sujetas a los
  Términos de Servicio. Puede revisar la versión actualizada de los Términos de
  Servicio, en cualquier momento en esta página. Nos reservamos el derecho de
  actualizar, cambiar o reemplazar cualquier parte de los Términos de Servicio
  mediante la publicación de actualizaciones y/o cambios en nuestro sitio web.
  Es responsabilidad del cliente chequear esta página periódicamente para
  verificar los cambios. El uso de este sitio web después de la publicación de
  cualquier cambio constituye la aceptación de dichos cambios. Grandmercado LLC
  se reserva el derecho de cambiar los términos y condiciones aquí descritos.
</p>
<h2 id="sección-1---términos-de-la-tienda-en-línea">
  SECCIÓN 1 - TÉRMINOS DE LA TIENDA EN LÍNEA
</h2>
<p>
  Al utilizar este sitio, declaras que tienes al menos la mayoría de edad en tu
  estado o provincia de residencia. No puedes usar nuestros productos con ningún
  propósito ilegal o no autorizado. Tampoco es permitido, en el uso del
  Servicio, violar cualquier ley en tu jurisdicción o de la jurisdicción donde
  opera nuestro sitio web. El cliente no debes de actuar en perjurio de
  Grandmercado LLC, de sus sucursales, extensiones o de agencias asociadas. El
  incumplimiento o violación de cualquiera de estos Términos darán lugar al cese
  inmediato de tus Servicios.
</p>
<h2 id="sección-2---exactitud-exhaustvidad-y-actualidad-de-la-información">
  SECCIÓN 2 - EXACTITUD, EXHAUSTVIDAD Y ACTUALIDAD DE LA INFORMACIÓN
</h2>
<p>
  No nos hacemos responsables si la información disponible en este sitio no es
  exacta, completa o actual. El material en este sitio es provisto sólo para
  información general y no debe confiarse en ella o utilizarse como la única
  base para la toma de decisiones sin consultar primeramente, información más
  precisa, completa u oportuna. Cualquier dependencia y uso del material
  provisto por este sitio es bajo su propio riesgo. Este sitio puede contener
  cierta información histórica. La información histórica, no es necesariamente
  actual y es provista únicamente para tu referencia. Nos reservamos el derecho
  de modificar los contenidos de este sitio en cualquier momento, pero no
  tenemos obligación de actualizar cualquier información en nuestro sitio.
  Aceptas que es tu responsabilidad de monitorear los cambios en nuestro sitio.
</p>
<h2 id="sección-3---modificaciones-al-servicio-y-precios">
  SECCIÓN 3 - MODIFICACIONES AL SERVICIO Y PRECIOS
</h2>
<p>
  Los precios de nuestros productos y servicios están sujetos a su
  disponibilidad en el mercado y la viabilidad de su ejecución. Nos reservamos
  el derecho de modificar o descontinuar el Servicio (o cualquier parte del
  contenido) en cualquier momento.
</p>
<h2 id="sección-4---productos-o-servicios">
  SECCIÓN 4 - PRODUCTOS O SERVICIOS
</h2>
<p>
  Ciertos productos o servicios pueden estar disponibles exclusivamente en línea
  a través del sitio web. Estos productos o servicios pueden tener cantidades.
  Hemos hecho el esfuerzo de mostrar los colores y las imágenes de nuestros
  productos, en la tienda, con la mayor precisión posible. La información y
  fotos de los productos que aparecen en Grandmercado LLC son referenciales, y
  se asume que son la mejor aproximación del producto final. Grandmercado LLC no
  se hace responsable por interpretaciones erróneas de la información publicada
  en la tienda, que tengan como resultado decisiones equivocadas a la hora de
  comprar. No podemos garantizar que el monitor de tu computadora muestre los
  colores de los productos y servicios de manera exacta. Nos reservamos el
  derecho, pero no estamos obligados, para limitar las ventas de nuestros
  productos o servicios a cualquier persona, región geográfica o jurisdicción.
  Podemos ejercer este derecho basados en cada caso. Nos reservamos el derecho
  de limitar las cantidades de los productos o servicios que ofrecemos. Todas
  las descripciones sobre precios y servicios están sujetos a cambios en
  cualquier momento. Cualquier oferta de producto o servicio hecho en este sitio
  es nulo donde esté prohibido.
</p>
<h2 id="sección-5---exactitud-de-pago-facturación-e-información-de-cuenta">
  SECCIÓN 5 - EXACTITUD DE PAGO, FACTURACIÓN E INFORMACIÓN DE CUENTA
</h2>
<p>
  Nos reservamos el derecho de rechazar cualquier pedido que realice con
  nosotros. Previa notificación y explicación al cliente podemos, a nuestra
  discreción, limitar o cancelar las cantidades compradas por persona o por
  pedido. En el caso de que hagamos un cambio o cancelemos una orden, le
  notificaremos poniéndonos en contacto vía correo electrónico y/o dirección de
  facturación / número de teléfono proporcionado en el momento que se hizo el
  pedido. Nos reservamos el derecho de limitar o prohibir las órdenes que, a
  nuestro juicio, parecen ser colocadas por los concesionarios, revendedores
  distribuidores o aquellas que vayan contra el interés de las leyes de cada
  país o de Grandmercado LLC.
</p>
<h2 id="sección-6--límites">SECCIÓN 6 – LÍMITES</h2>
<p>
  Grandmercado LLC se reserva el derecho de limitar la cantidad de productos
  disponibles por cliente y por orden, pudiendo a su discreción cancelar o
  rechazar las órdenes que excedan los límites previstos u incumplan con nuestra
  normativa. Grandmercado LLC se reserva el derecho de no enviar productos por
  cualquier motivo que vayan en contra de los intereses de la compañía o sean
  ilegales o prohibidos por las Aduanas de origen y destino.
</p>
<h2 id="sección-7---pagos">SECCIÓN 7 - PAGOS</h2>
<p>
  Aceptamos tarjetas de crédito Visa, MasterCard y American Express
  internacionales, así como también los otros métodos de pago mostrados en
  nuestra web.
</p>
<h2 id="sección-8--reembolsos">SECCIÓN 8 – REEMBOLSOS</h2>
<p>
  El procesamiento de pago de la orden puede demorar hasta 72 horas hábiles en
  ser aceptado. En caso de que se detecte algún problema con algún artículo en
  particular o su imposibilidad de envío, se le comunicará al cliente, quien
  tendrá la opción de editar o remover la orden del producto, reembolsando el
  total de lo pagado a la tarjeta ingresada por el cliente. En caso de que el
  cliente no responda pasados los 5 días hábiles de notificado, Grandmercado LLC
  cancelará la orden, reembolsando el total del importe pagado.
</p>
<h2 id="sección-9--envíos">SECCIÓN 9 – ENVÍOS</h2>
<p>
  Nuestros productos son entregados por distintos proveedores. En una misma
  orden pueden coexisitir productos de proveedores diferentes, estos productos
  pueden ser entregados en distintos momentos. El cliente podrá comprobar el
  estado de los productos en su orden mediante su Historial de Órdenes.
</p>
<h2 id="sección-10---herramientas-opcionales">
  SECCIÓN 10 - HERRAMIENTAS OPCIONALES
</h2>
<p>
  No tendremos responsabilidad alguna derivada o relacionada con tu uso de
  herramientas proporcionadas por terceras partes. Cualquier uso que hagas de
  las herramientas opcionales que se ofrecen a través del sitio bajo tu propio
  riesgo y discreción y debes asegurarte de estar familiarizado y aprobar los
  términos bajo los cuales estas herramientas son proporcionadas por el o los
  proveedores de terceros. También es posible que, en el futuro, te ofrezcamos
  nuevos servicios y/o características a través del sitio web (incluyendo el
  lanzamiento de nuevas herramientas y recursos). Estas nuevas características
  y/o servicios también estarán sujetos a estos Términos de Servicio.
</p>
<h2 id="sección-11---enlaces-de-terceras-partes">
  SECCIÓN 11 - ENLACES DE TERCERAS PARTES
</h2>
<p>
  Cierto contenido, productos y servicios disponibles vía nuestro Servicio puede
  incluir material de terceras partes. Enlaces de terceras partes en este sitio
  pueden direccionarlo a sitios web de terceras partes que no están afiliadas
  con nosotros. No nos responsabilizamos de examinar o evaluar el contenido o
  exactitud y no garantizamos ni tendremos ninguna obligación o responsabilidad
  por cualquier material de terceros o sitos web, o de cualquier material,
  productos o servicios de terceros. No nos hacemos responsables de cualquier
  daño o daños relacionados con la adquisición o utilización de bienes,
  servicios, recursos, contenidos, o cualquier otra transacción realizadas en
  conexión con sitios web de terceros. Por favor revisa cuidadosamente las
  políticas y prácticas de terceros y asegúrate de entenderlas antes de
  participar en cualquier transacción. Quejas, reclamos, inquietudes o preguntas
  con respecto a productos de terceros deben ser dirigidas a la tercera parte.
</p>
<h2
  id="sección-12---comentarios-de-usuario-originalidad-captación-y-otros-envíos"
>
  SECCIÓN 12 - COMENTARIOS DE USUARIO, ORIGINALIDAD, CAPTACIÓN Y OTROS ENVÍOS
</h2>
<p>
  Las marcas, logos e imágenes son propiedad de sus respectivos dueños,
  Grandmercado LLC solamente utiliza fuentes de datos de proveedores a fin de
  proporcionar la información necesaria a los visitantes del sitio para
  completar el servicio. Si, a pedido nuestro, envías ciertas presentaciones
  específicas (por ejemplo la participación en concursos) o sin un pedido de
  nuestra parte envías ideas creativas, sugerencias, proposiciones, planes, u
  otros materiales, ya sea en línea, por email, por correo postal, o de otra
  manera (colectivamente, &#39;comentarios&#39;), aceptas que podamos, en
  cualquier momento, sin restricción, editar, copiar, publicar, distribuir,
  traducir o utilizar por cualquier medio comentarios que nos hayas enviado. No
  tenemos ni tendremos ninguna obligación (1) de mantener ningún comentario
  confidencialmente; (2) de pagar compensación por comentarios; o (3) de
  responder a comentarios. Nosotros podemos, pero no tenemos obligación de,
  monitorear, editar o remover contenido que consideremos sea ilegítimo,
  ofensivo, amenazante, calumnioso, difamatorio, pornográfico, obsceno u
  objetable o viole la propiedad intelectual de cualquiera de las partes o los
  Términos de Servicio. Aceptas que tus comentarios no violará los derechos de
  terceras partes, incluyendo derechos de autor, marca, privacidad, personalidad
  u otro derechos personal o de propiedad. Asimismo, aceptas que tus comentarios
  no contienen material difamatorio o ilegal, abusivo u obsceno, o contienen
  virus informáticos u otro malware que pudiera, de alguna manera, afectar el
  funcionamiento del Servicio o de cualquier sitio web relacionado. No puedes
  utilizar una dirección de correo electrónico falsa, usar otra identidad que no
  sea legítima, o engañar a terceras partes o a nosotros en cuanto al origen de
  tus comentarios. El cliente es el único responsable por los comentarios que
  haces y de su precisión. No nos hacemos responsables y no asumimos ninguna
  obligación con respecto a los comentarios publicados por los usuarios y
  clientes o cualquier tercera parte.
</p>
<h2 id="sección-13---información-personal-y-privacidad">
  SECCIÓN 13 - INFORMACIÓN PERSONAL Y PRIVACIDAD
</h2>
<p>
  Esta compañía está comprometida con la seguridad de los datos de sus usuarios.
  Nuestra Política de Privacidad puede cambiar con el tiempo o ser actualizada
  por lo que le recomendamos y enfatizamos revisar continuamente esta página
  para asegurarse que está de acuerdo con dichos cambios. En cualquier momento
  puede acceder a nuestra Política de Privacidad para más información.
</p>
<h2 id="sección-14---usos-prohibidos">SECCIÓN 14 - USOS PROHIBIDOS</h2>
<p>
  En adición a otras prohibiciones como se establece en los Términos de
  Servicio, se prohíbe el uso del sitio o su contenido: (a) para ningún
  propósito ilegal; (b) para pedirle a otros que realicen o participen en actos
  ilícitos; (c) para violar cualquier regulación, reglas, leyes internacionales,
  federales, provinciales o estatales, u ordenanzas locales; (d) para infringir
  o violar el derecho de la propiedad intelectual; (e) para acosar, abusar,
  insultar, dañar, difamar, calumniar, desprestigiar, intimidar o discriminar
  por razones de género, orientación sexual, religión, etnia, raza, edad,
  nacionalidad o discapacidad; (f) para presentar información falsa o engañosa;
  (g) para cargar o transmitir virus o cualquier otro tipo de código malicioso
  que sea o pueda ser utilizado en cualquier forma que pueda comprometer la
  funcionalidad o el funcionamiento de nuestro servicio; (h) para recopilar o
  rastrear información personal de otros; (i) para generar spam, phish, pharm,
  pretext, spider, crawl, o scrape; (j) para cualquier propósito obsceno o
  inmoral; o (k) para interferir con o burlar los elementos de seguridad de
  nuestro sitio y servicios. Nos reservamos el derecho de suspender el uso del
  Servicio en nuestro sitio o de cualquier sitio web relacionado por violar
  cualquiera de los incisos contemplados dentro de los usos prohibidos.
</p>
<h2 id="sección-15--garantías">SECCIÓN 15- GARANTÍAS</h2>
<p>
  La Garantía de los productos ofrecidos por Grandmercado LLC, está sujeta a la
  representación de la marca en el lugar del destino. Es responsabilidad del
  cliente asesorarse en cuanto a la existencia de esta o no.
</p>
<h2 id="sección-16---divisibilidad">SECCIÓN 16 - DIVISIBILIDAD</h2>
<p>
  En el caso de que se determine que cualquier disposición de estas Condiciones
  de Servicio sea ilegal, nula o inejecutable, dicha disposición será, no
  obstante, efectiva a obtener la máxima medida permitida por la ley aplicable,
  y la parte no exigible se considerará separada de estos Términos de Servicio,
  dicha determinación no afectará la validez de aplicabilidad de las demás
  disposiciones restantes.
</p>
<h2 id="sección-17---rescisión">SECCIÓN 17 - RESCISIÓN</h2>
<p>
  Las obligaciones y responsabilidades de las partes que hayan incurrido con
  anterioridad a la fecha de terminación sobrevivirán a la terminación de este
  acuerdo a todos los efectos. Estas Condiciones de servicio son efectivos a
  menos que y hasta que sea terminado por el cliente o nosotros. El cliente
  puede terminar estos Términos de Servicio en cualquier momento avisando que ya
  no desea utilizar nuestros servicios, o cuando deje de usar nuestro sitio. Si
  a nuestro juicio, fallas, o se sospecha que has fallado, en el cumplimiento de
  cualquier término o disposición de estas Condiciones de Servicio, también
  podemos terminar este acuerdo en cualquier momento sin previo aviso, y
  seguirás siendo responsable de todos los montos adeudados hasta incluida la
  fecha de terminación.
</p>
<h2 id="sección-18---acuerdo-completo">SECCIÓN 18 - ACUERDO COMPLETO</h2>
<p>
  Nuestra falla para ejercer o hacer valer cualquier derecho o disposición de
  estas Condiciones de Servicio no constituirá una renuncia a tal derecho o
  disposición. Estas Condiciones del servicio y las políticas o reglas de
  operación publicadas por nosotros en este sitio o con respecto al servicio
  constituyen el acuerdo completo y el entendimiento entre tú y nosotros y rigen
  el uso del Servicio y reemplaza cualquier acuerdo, comunicaciones y propuestas
  anteriores o contemporáneas, ya sea oral o escrita, entre tú y nosotros
  (incluyendo, pero no limitado a, cualquier versión previa de los Términos de
  Servicio).
</p>
<h2 id="sección-19---ley">SECCIÓN 19 - LEY</h2>
<p>
  Estas Condiciones del servicio y cualquier acuerdo aparte en el que le
  proporcionamos servicios se regirán e interpretarán en conformidad con las
  leyes de Miami, Florida, USA. Toda operación realizada con Grandmercado LLC o
  cualquiera de nuestras agencias asociadas, ya sea: el manejo de información o
  datos, consultas, devoluciones, reclamos, garantías, pagos, etc., se rige por
  las leyes de Miami, Florida, USA.
</p>
<h2 id="sección-20---cambios-en-los-términos-de-servicio">
  SECCIÓN 20 - CAMBIOS EN LOS TÉRMINOS DE SERVICIO
</h2>
<p>
  Puedes revisar la versión más actualizada de los Términos de Servicio en
  cualquier momento en esta página. Nos reservamhos el derecho, a nuestra sola
  discreción, de actualizar, modificar o reemplazar cualquier parte de estas
  Condiciones del servicio mediante la publicación de las actualizaciones y los
  cambios en nuestro sitio web. Es tu responsabilidad revisar nuestro sitio web
  periódicamente para verificar los cambios. El uso continuo o el acceso a
  nuestro sitio Web o de nuestros Servicio después de la publicación de
  cualquier cambio en estas Condiciones de servicio implica la aceptación de
  dichos cambios.
</p>
<h2 id="información-de-contacto">INFORMACIÓN DE CONTACTO</h2>
<p>
  Preguntas acerca de los Términos y Condiciones deben ser enviadas a
  <a href="mailto:contact@grandmercado.com">contact@grandmercado.com</a>
</p>
