<mat-expansion-panel hideToggle class="payment__method">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div>
        <span class="payment__name">{{
          "shop.checkout.payment.link" | translate
        }}</span>
        <p>
          {{ "shop.checkout.payment.linkDescription" | translate }}
        </p>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div style="text-align: center; width: 100%; margin-bottom: 10px">
    {{ "shop.checkout.payment.link.tariff" | translate }} 3%
  </div>
  <button
    *ngIf="!squarePaymentData"
    (click)="onRequestLink()"
    class="btn-secondary"
  >
    <span>{{ "shop.checkout.payment.getLink" | translate }}</span>
  </button>
  <div
    *ngIf="squarePaymentData"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
  >
    <span>{{ "shop.checkout.payment.linkTitle" | translate }}</span>
    <a style="line-break: anywhere">{{ squarePaymentData.url }}</a>
    <a
      [href]="squarePaymentData.url"
      target="_blank"
      style="text-decoration: none"
    >
      <button class="btn-primary">
        <span>{{ "shop.checkout.payment.link.go" | translate }}</span>
        <span class="iconify" data-icon="line-md:navigation-right-down"></span>
      </button>
    </a>
  </div>
</mat-expansion-panel>
