<table>
  <thead>
    <tr>
      <th fxHide.lt-sm scope="col">
        <span class="iconify" data-icon="uil:image-v"></span>
      </th>
      <th scope="col">{{ "shop.order.product" | translate }}</th>
      <th scope="col">{{ "shop.order.quantity" | translate }}</th>
      <th scope="col">{{ "shop.order.price" | translate }}</th>
      <th scope="col">{{ "shop.order.status" | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let order of orders">
      <tr *ngFor="let item of order.items">
        <th fxHide.lt-sm scope="row">
          <img [src]="item.product.image" />
        </th>
        <td class="product">
          <div fxLayout="column">
            <img fxShow.lt-sm fxHide [src]="item.product.image" />
            <span class="product__name">{{ item.product.name }}</span>
            <span class="product__price" fxHide.lt-sm>{{
              item.product.sell_price | currency
            }}</span>
          </div>
        </td>
        <td class="quantity">{{ item.quantity }}</td>
        <td class="price">{{ item.sell_price | currency }}</td>
        <td
          class="order-status"
          [innerHTML]="orderStatusIcon[order.order_status] | safeHtml"
        ></td>
      </tr>
    </ng-container>
  </tbody>
</table>
