<section
  fxLayout="column"
  fxFlex
  fxLayoutAlign="center center"
  fxLayoutGap="40px"
>
  <div class="reset-pass" fxLayout="column" fxLayoutAlign="center center">
    <div class="reset-pass__dashed-square"></div>
    <div class="reset-pass__solid-square"></div>
    <h1 class="reset-pass__title">
      {{ "auth.reset-password.title" | translate }}
    </h1>
    <p class="reset-pass__info">
      {{ "auth.reset-password.description" | translate }}
    </p>

    <form
      class="reset-pass__form"
      fxLayout="column"
      [formGroup]="formPassword"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field appearance="fill">
        <mat-label class="text-up">{{
          "auth.reset-password.password" | translate
        }}</mat-label>
        <input
          matInput
          type="password"
          id="password"
          formControlName="newPassword1"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label class="text-up">{{
          "auth.reset-password.confirm" | translate
        }}</mat-label>
        <input
          matInput
          type="password"
          id="repeat"
          formControlName="newPassword2"
          required
        />
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="center center">
        <button
          type="submit"
          class="btn-primary"
          [disabled]="formPassword.invalid"
        >
          <span class="text-up">{{ "auth.forgot.send" | translate }}</span>
          <span class="iconify" data-icon="iconoir:arrow-right"> </span>
        </button>
      </div>
    </form>
  </div>
</section>
